doctype html
//- tab 안에있는 코드
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet",href="/static/styles.css")
    body
        include ../partials/header
        main
            block content
            //- block에 이제 다른pug파일의 내용이 들어간다.
        include ../partials/footer
        script(src="/static/main.js")